footer .container{
    display: flex;
    padding: 40px 0px;
    border-top: 1px solid #E4E4E4;
    justify-content:space-between;
}

footer .container>ul{
    width: 340px;
    list-style: none;
}

footer .container>ul h2{
    margin-bottom: 20px;
}
footer .container>ul>li{
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


