.adminOrders{
    padding: 10px 0px;
}

.adminOrders p{
    color: #6D6D6D;
}

.adminOrders p span{
    color: black;
    font-weight: bold;
}

.orders{
    padding: 25px 0px;
    max-height: 80vh !important;
    overflow-y: auto;
    padding-right: 10px;
}
.orders::-webkit-scrollbar{
    width: 4px;
    background-color: #BBBBBB;
}
.orders::-webkit-scrollbar-thumb{
    background-color: black;
}

.orders p{
    color: #4d4d4d;
}
.order_img{
    background-color: #EDEEF2;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_info{
    display: flex;
    align-items: center;
    gap: 15px;
}
.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E4E4E4;
    margin: 10px 0px;
    border-radius: 8px;
    padding: 8px;
    padding-right: 14px;
}
.order h4{
    color: #44E054;
    font-weight: 300;
}

.order h3 span {
    font-size: 12px;
    color: #BBBBBB !important;
    font-weight: 500;
    margin-left: 10px;
}

.order a{
    color: black;
}